html,
body {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    display: block;
    margin: 0 auto;
    width: 250px;
    filter: opacity(0.8175) contrast(7);
}

#vanta {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
